body { 
    font-family: Arial, sans-serif; 
    background: radial-gradient(ellipse at center, #FFBED3 0%, #F9F9F9 53%, #FFC2B9 100%);
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    cursor: url('normal.cur');
  }
  
  h1 {
    font-size: 90px;
    font-weight: 800;
    color: pink;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px pink, 0 0 30px pink, 0 0 40px pink, 0 0 55px pink, 0 0 75px pink;
  }
  
  table, table td, table tr {
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px;
  }

  .funfacts {
    text-align: left;
  }
  
  table {
    border: 5px dotted lightpink;
    border-collapse: inherit;
    width: 100%;
    max-width: 800px;
    margin: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    font-size: 0.75em;
  }
  
  h4 {
    font-weight: normal;
    border: 1px dashed black;
    border-radius: 20px;
    padding: 5px;
    margin: 0;
  }
  
  a {
    color: #dc4b87;
  }

  a::hover {
    color: #fff;
    cursor: url('link.cur');
  }

  a::after {
    color: #bd4f8e;
  }

  canvas {
    position: absolute;        
    top: 0;  
    left: 0;  
    width: 100vw;  
    height: 100vh;  
    pointer-events: none;
  }

  footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-small;
  }