<!-- _includes/footer.html -->
<footer>
        <p>Ana Carolina, 2024.</p>
        <div class="row align-items-center">
            <a href="https://www.youtube.com/channel/UCzdN_GOPp7SFm6Yp7L2qvTg"><button class="btn-circle"><i class="fa fa-youtube"></i></button></a>
            <a href="https://linkedin.com/in/linasdias"><button class="btn-circle"><i class="fa fa-linkedin"></i></button></a>
            <a href="https://instagram.com/linasdias"><button class="btn-circle"><i class="fa fa-instagram"></i></button></a>
        </div>
</footer>