<!-- _includes/footer.html -->
<footer>
    <div class="content-agua">
        <p>Ana Carolina, 2024.</p>
        <div class="row align-items-center">
            <button class="btn-circle"><i class="fa fa-youtube"></i></button>
            <button class="btn-circle"><i class="fa fa-linkedin"></i></button>
            <button class="btn-circle"><i class="fa fa-instagram"></i></button>
        </div>

        <!-- Audio player container-->
        <div id='player' style='position:fixed;'></div>

        <!-- Audio player js begin-->
        <script src="{{ site.baseurl }}\assets\js\AudioPlayer.js"></script>

        <script>
            // test image for web notifications
            var iconImage = null;

            AP.init({
                container:'#player',//a string containing one CSS selector
                volume   : 0.7,
                autoPlay : false,
                notification: false,
                playList: [
                    {'title': 'chilling with meow meow! ฅ^•ﻌ•^ฅ', 'file': 'assets/mp3/catlofi.mp3'}
            ]
            });
        </script>
        <!-- Audio player js end-->
    </div>
</footer>