<!-- _includes/header.html -->

<header>
    <nav>
        <ul>
            <li><a id="headlink" href="{{ site.baseurl }}/">Home</a></li>
            <li><a id="headlink" href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a id="headlink" href="{{ site.baseurl }}/about">About</a></li>
        </ul>
    </nav>
    <div class="row align-items-center">
        <a href="https://www.youtube.com/channel/UCzdN_GOPp7SFm6Yp7L2qvTg"><button class="btn-circle"><i class="fa fa-youtube"></i></button></a>
        <a href="https://linkedin.com/in/linasdias"><button class="btn-circle"><i class="fa fa-linkedin"></i></button></a>
        <a href="https://instagram.com/linasdias"><button class="btn-circle"><i class="fa fa-instagram"></i></button></a>
    </div>

    <div class="container" style="margin-top: 200px;">
        <a href="https://linasdias.github.io"><img src="{{ site.baseurl }}/assets/img/logo.png" alt="Ana Carolina"></a>
    </div>
    
    
</header>
