<!-- _includes/header.html -->

<header>
    <nav>
        <ul>
            <li><a id="headlink" href="{{ site.baseurl }}/">Home</a></li>
            <li><a id="headlink" href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a id="headlink" href="{{ site.baseurl }}/about">About</a></li>
        </ul>
    </nav>
    <div class="row align-items-center">
        <button class="btn-circle"><i class="fa fa-youtube"></i></button>
        <button class="btn-circle"><i class="fa fa-linkedin"></i></button>
        <button class="btn-circle"><i class="fa fa-instagram"></i></button>
    </div>
</header>
