<!-- _includes/header.html -->
<script src="https://kit.fontawesome.com/87281a04ac.js" crossorigin="anonymous"></script>

<header>
    <nav>
        <ul>
            <li><a id="headlink" href="{{ site.baseurl }}/">Home</a></li>
            <li><a id="headlink" href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a id="headlink" href="{{ site.baseurl }}/about">About</a></li>
        </ul>
    </nav>
    <div class="row-align-items-stretch">
        <button class="btn btn-primary btn-circle"><i class="fa fa-youtube"></i></button>
        <button class="btn btn-primary btn-circle"><i class="fa fa-linkedin"></i></button>
        <button class="btn btn-primary btn-circle"><i class="fa fa-instagram"></i></button>
    </div>
</header>
